/* Sammy's Stylesheet */

h1 {color: white;
font-size: 40;
font-family: cursive;
background-color: black;
background-image: url(http://www.flyingkitemedia.com/galleries/Features/2011/Issue_23/PhillyImageProblem_Lead.jpg)}
